<link rel="stylesheet" href="/styles/filesContainer.css">
<section class="files-main-preview">
    <sl-breadcrumb>
        <sl-breadcrumb-item href="/folders"><%= user.username %></sl-breadcrumb-item>
    </sl-breadcrumb>

    <div class="grid-header">
        <a>Name</a>
        <a>Size</a>
        <a>Created</a>
    </div>

    <div class="files-container">
        <div class="file">
            <sl-button> yeah </sl-button>
            <sl-button> yeah </sl-button>
            <sl-button> yeah </sl-button>
        </div>
    </div>
</section>