<link rel="stylesheet" href="/styles/filesContainer.css">
<section class="files-container">
    <sl-breadcrumb>
        <sl-breadcrumb-item href="/folders"><%= user.username %></sl-breadcrumb-item>
    </sl-breadcrumb>
</section>