<link rel="stylesheet" href="/styles/filesContainer.css">
<section class="files-container">
    <sl-breadcrumb>
        <sl-breadcrumb-item href="/folders"><%= user.username %></sl-breadcrumb-item>
    </sl-breadcrumb>
    <sl-divider></sl-divider>

    <div class="grid-header">
        <a>Name</a>
        <a>Size</a>
        <a>Created At</a>
    </div>
</section>