<link rel="stylesheet" href="/styles/navbar.css">
<nav>
    <span class="logo">
        File Uploader
    </span>
    <span class="interactive-buttons">
        <button>Log In</button>
        <button>Sign Up</button>
    </span>
</nav>