<link rel="stylesheet" href="/styles/navbar.css">
<nav class="navbar">
    <span class="logo">
        <a href="/">File Uploader</a>
    </span>
    <span class="interactive-buttons">
        <% if(!locals.user) { %>
            <button><a href="login">Log In</a></button>
            <button><a href="sign-up">Sign Up</a></button>
        <% } else { %>
            <a href="/logout">
                <sl-icon name="box-arrow-right"></sl-icon>
            </a>
        <% } %>
    </span>
</nav>