<link rel="stylesheet" href="/styles/navbar.css">
<nav class="navbar">
    <span class="logo">
        <a href="/">File Uploader</a>
    </span>
    <span class="interactive-buttons">
        <% if(!locals.user) { %>
            <a href="login">
                <sl-button>Log In</sl-button>
            </a>
            <a href="sign-up">
                <sl-button>Sign Up</sl-button>
            </a>
        <% } else { %>
            <a href="/logout">
                <sl-icon name="box-arrow-right" style="font-size: 1.2em;"></sl-icon>
            </a>
        <% } %>
    </span>
</nav>