<link rel="stylesheet" href="/styles/sidebar.css" />
<aside>
    <nav class="sidebar-nav">
        <sl-button class="sl-btn new-folder" size="small">
            <sl-icon slot="prefix" name="folder-plus"></sl-icon>
            New Folder
        </sl-button>
        <sl-button class="sl-btn new-file" size="small">
            <sl-icon slot="prefix" name="file-earmark-plus"></sl-icon>
            New File
        </sl-button>
        <% if (folderId) { %>
        <sl-button class="sl-btn edit-folder" size="small">
            <sl-icon slot="prefix" name="pencil-square"></sl-icon>
            Edit Folder
        </sl-button>
        <sl-button class="sl-btn delete-folder" size="small">
            <sl-icon slot="prefix" name="trash"></sl-icon>
            Delete Folder
        </sl-button>
        <% } %>
    </nav>
    <sl-tree>
        <sl-tree-item expanded <%= !folderId ? "selected" : "" %>> 
            <a href="/folders">
                <%= locals.user.username %>
            </a>

            <% if(userFolders && userFolders.length > 0) { %>
                <% userFolders.forEach((folder) => { %>
                    <%- include("./treeItem", {folder, folderId}) %>
                <% }) %>
            <% } %>
        </sl-tree-item>
    </sl-tree>
</aside>