<sl-tree-item expanded <%= folder.id == folderId ? "selected" : "" %>>
    <a href="/folders/<%= folder.id %>">
        <sl-icon name="folder"></sl-icon>
        <%= folder.name %>
    </a>
    <% if(folder.subfolders && folder.subfolders.length > 0) { %>
        <% folder.subfolders.forEach((subfolder) => { %>
            <%- include("./treeItem", {folder: subfolder}) %>
        <% }) %>
    <% } %>
</sl-tree-item>