<!DOCTYPE html>
<html lang="en" class="sl-theme-dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <%- include("partials/navbar") %>

    <main class="index-container">
        <%- include("./partials/sidebar") %>
    </main>
</body>
</html>