<!DOCTYPE html>
<html lang="en" class="sl-theme-dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="/styles/form.css">
    <%- include("./partials/header") %>
</head>
<body>
    <%- include("partials/navbar") %>

    <main class="form-container">
        <form class="auth-form" action="/login" method="POST">
            <%- include("./partials/errors") %>

            <h1>Log In</h1>

            <span class="form-inputs">
                <span class="input-group">
                    <sl-input 
                        label="Username" 
                        name="username" 
                        id="username" 
                        minlength="6" 
                        maxlength="20"
                        required
                    >
                    </sl-input>
                </span>
                <span class="input-group">
                    <sl-input 
                        label="Password" 
                        type="password"
                        name="password" 
                        id="password" 
                        minlength="6" 
                        maxlength="20" 
                        password-toggle        
                        required
                    >
                    </sl-input>
                </span>
            </span>

            <span class="login-buttons">
                <sl-button type="submit">Log In</sl-button>
                <p> or </p>
                <sl-button variant="primary" href="/demo">Try a Demo Account</sl-button>
            </span>

            <p class="form-info-text">Don't have an account yet? <a href="/sign-up">Sign up</a></p>
        </form>
    </main>

    <%- include("partials/footer") %>
</body>
</html>