section.files-main-preview {
	width: 100%;
    min-width: 425px;
	height: 100%;
	padding: 1rem 2rem;
}

.grid-header, .files-container {
	display: grid;
	grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
}

.grid-header {
    margin: 1rem 0 0.25rem;
}

.grid-header > a {
	border-radius: var(--sl-border-radius-medium);
	padding: var(--sl-spacing-small);
}

.grid-header > a:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.files-container {
    row-gap: 0.25rem;
}

.files-container > .file {
    height: var(--sl-input-height-medium);
    color: var(--sl-color-neutral-700);
	grid-column: 1 / 4;
	display: grid;
	grid-template-columns: 3fr 1fr 1fr;
	background-color: var(--sl-input-background-color);
	border: 1px solid var(--sl-color-neutral-300);
	border-radius: var(--sl-border-radius-medium);
}

.files-container > .file:hover {
	background-color: var(--sl-color-primary-50);
	border-color: var(--sl-color-primary-300);
	color: var(--sl-color-primary-700);
}

.files-container > .file:active {
	background-color: var(--sl-color-primary-100);
	color: var(--sl-color-primary-800);
}

.files-container > .file > span {
	padding: var(--sl-spacing-small);
	font-size: var(--sl-font-size-small);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Drawer */
.drawer-info {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.drawer-info > span {
	color: var(--sl-color-neutral-700);
}

.drawer-info > span b {
	color: rgb(255, 255, 255);
}