.modal-container {
	border: none;
	padding: 0;
	margin: auto;
}

.modal-form > span {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.modal-form > span > sl-button {
	width: fit-content;
	margin-left: auto;
}
