nav {
    height: 50px;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

nav .logo {
    font-size: 24px;
}

nav .interactive-buttons {
    display: flex;
    gap: 1rem;
}

nav .interactive-buttons > button {
    padding: 0.25rem 1rem;
}